@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.hey{
	height:40px;
  width: 500px;
font-family: 'Gugi', cursive;
}
.divisionn{
	
	widht:20px;
  font-family: 'Gugi', cursive;
}
.imag{
  height:650px;
  width:800px;
  float:right;
  padding-right: 100px;
}
.message{
 background-image: linear-gradient(red, green,purple);
  width:150px;
  height:100% ;
}
.but{
  width:100%;
}
.shift{
  padding:0px 500px;
}

.bg{
  background-color: red;
}

.messagebox{
  background-color: #3b5998;
  padding-top:  100px;
}
.messagebo{
  background-color: blue;
  
  border-width: 20px;
  border-width: 2000 px;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

}
